

.row
	.col-md-12
		%h1 Schedule for #{Course.find(params[:course_id]).name}
.row
	.col-md-12
		#cal
.row
	.col-md-12
		%strong Legend:
		percentage of free seats
		%span(style="background-color: #D8F6CE") more than 10&#37;
		%span,&nbsp;
		%span(style="background-color: #F7BE81") less than 10&#37;
		%span ,&nbsp;
		%span(style="background-color: #F5A9A9") less than 5&#37; (crowded)
.row
	.col-md-12(style="margin-top:30px")
		%table.table.table-compact.table-striped
			%thead
				%tr
					%th Uhrzeit
					%th Raum
					%th Gruppe
					%th Tutor

			%tbody
				- Group.includes([:user,:course]).order(:start).each do |g|
					- if g.course.id == params[:course_id].to_i
						%tr
							%td= g.start.strftime("%a %H:%M")
							%td= g.room
							%td= g.name
							%td
								%a(href="mailto:#{g.user.email}")= g.user.name

:coffeescript
	groups = #{Group.includes(:user).where(course_id: params[:course_id]).to_json(only: [:name, :start, :room, :updated_at], include: {user: {only: [:firstname, :lastname, :email]}}).html_safe};
	$(document).ready =>
		events=[]
		for group in groups
			events.push
				title: "\#{group.name.replace(/Gruppe /,'')}, \#{group.room}\n\#{group.user.firstname.substr(0,1)}. \#{group.user.lastname}"
				group: group
				start: group.start
				end: moment(group.start).add(90, 'minutes').format()
				allDay: false
				color: '#4daf4a'
		window.buildCalendar("cal", events, (=>))
